@import '~@/index.less';

.list {
  padding: 20px 0;
  :global(.el-carousel__item--card) {
    &:global(.is-active) {
      cursor: unset;
    }
    .item {
      img {
        width: 100%;
        height: 100%;
      }
      background-color: #fff;
      border: 1px solid #d1dbe5;
      box-shadow: 0 3px 20px rgba(0,0,0,.3);
    }
  }
}