@import '~@/index.less';
@header-height: 120px;

header {
  position: relative;
  z-index: 999;
  text-align: center;
  nav {
    max-width: 1024px;
    margin: 0 auto;
    text-align: right;
    a.logo {
      height: @header-height;
      float: left;
      img {
        padding-top: 10px;
        height: @header-height - 20px;
        user-select: none;
      }
    }
    ul.nav {
      padding: 0;
      margin: 0;
      padding-right: 3em;
      li.navItem {
        display: inline-block;
        position: relative;
        width: 6em;
        text-align: center;
        list-style: none;
        line-height: @header-height;
        font-size: 18px;
        & > a {
          text-decoration: none;
          color: #fff;
          transition: color .3s;
          &.active, &:hover {
            color: rgba(255, 255, 255, .6);
          }
        }
        ul.subNav {
          position: absolute;
          line-height: 1;
          padding: 10px 0;
          margin-top: 17px;
          top: 70px;
          left: 50%;
          margin-left: -50%;
          width: 6em;
          background: @primary-color-tranparent;
          transform: scaleY(0);
          transform-origin: 0 0 0;
          transition: all .3s;
          &::before {
            content: '';
            display: block;
            position: absolute;
            margin-top: -27px;
            left: 3em;
            margin-left: -7px;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-bottom: 10px solid @primary-color-tranparent;
          }
          li {
            list-style: none;
            text-align: center;
            a {
              color: #fff;
              transition: color .3s;
              text-decoration: none;
              line-height: 2.5;
              &.active, &:hover {
                color: #000;
              }
            }
          }
        }
        &:hover ul.subNav {
          transform: scaleY(1);
        }
      }
    }
  }
  &.isSticky {
    background: @primary-color;
    transition: background-color .3s;
    nav ul.nav {
      li.navItem {
        & > a {
          color: #000;
        }
        ul.subNav {
          background: @primary-color;
          box-shadow: 0 3px 20px rgba(0, 0, 0, .30);
          &::before {
            border-bottom: 10px solid @primary-color;
          }
        }
      }
    }
  }
}

article {
  position: relative;
  z-index: 0;
  margin-top: -@header-height;
  &.subPage {
    padding-top: @header-height;
  }
}

footer {
  color: #fff;
  background: @primary-color;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: .1em;
  line-height: 40px;
  padding: 40px;
  .copy {
    font-size: 20px;
    letter-spacing: .3em;
  }
}

a.active {
  font-weight: bold;
}